{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Reporte Suscriptores{% endblock %}
{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}
 {% block headers %}
  <h3 STYLE="text-shadow: 3px 3px 2px #434242;color:#f0f0f0" >INSTITUTO DE ACTUALIZACIÓN Y PERFECCIONAMIENTO PROFESIONAL</h3>
  <h8  STYLE="text-shadow: 3px 3px 2px #434242;padding: 5px 0 0 0;" >Colegio de Procuradores de Rosario</h8>

{% endblock %}
{% block content %}
<head>
<script>
	function fnExcelReport()
	{
		var sTable = "<center><h3>IAPP ROSARIO</h3></center>"
		var sTable = sTable + "<center><h4>LISTA SUSCRIPTORES</h4></center>"
        var sTable = sTable + document.getElementById('tab').innerHTML;

        var style = "<style>";
        style = style + "table {width: 100%;font: 18px Calibri;}";
        style = style + "table, th, td {border: solid 1px #DDD; bgcolor:#87AFC6; border-collapse: collapse;";
        style = style + "padding: 2px 3px;text-align: center;}";
        style = style + "</style>";

        // CREATE A WINDOW OBJECT.
        var win = window.open('', '', 'height=700,width=700');

        win.document.write('<html><head>');

        win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(sTable);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
        win.document.write('</body></html>');

        win.document.close(); 	// CLOSE THE CURRENT WINDOW.

        win.print();    // PRINT THE CONTENTS.

	}
	</script>
</head>
<body>
<br>
<center><STRONG><UNDERLINE><h3 style="text-shadow: 2px 1px 1px gray;color:#f0f0f0";>REPORTE SUSCRIPTORES</h3></UNDERLINE></STRONG></center>
<main role="main"  style="background-color:#333333;">
    <div class="container mb-4" style="background-color:#c8c8c8;box-shadow: 0 0 10px 5px grey;">

		<div class="row mt-4">

	<div class="col-md-4 mt-4 mx-4">
		<form method="GET" action="">

			{{ filter.form|crispy }}

			<button type="submit" class="btn btn-m btn-primary">Filtrar</button>&nbsp;&nbsp;<button  class="btn btn-m btn-primary"  onclick="javascript:fnExcelReport()">Imprimir/Exportar PDF</button>
		</form>
	</div>
		</div>

 <div class="row">

<div class="col-md-12 mx-auto">
            <br>




<br>
    <div id="customers" class="table-responsive">
		<iframe id="txtArea1" style="display:none"></iframe>

		<div id="tab">

			<table id="headerTable" class="table table-hover table-bordered" style="font-size: 13px;">

				<tr class="bg-primary" >
					<th  height="4px" scope="col"><center>Curso</center></th>
					<th  scope="col"><center>Nombre</center></th>
					<th  scope="col"><center>Apellido</center></th>
					<th  scope="col"><center>Dni</center></th>
					<th  scope="col"><center>Telefono</center></td>
					<th  scope="col"><center>Email</center></th>
					<th  scope="col"><center>Proc</center></th>
				</tr>

				<tbody>
					{% if object_list %}
					{% for persona in filter.qs %}

					<tr >
						<td  width="auto"><center>{{ persona.codigocurso|upper }}</center></td>
						<td width="auto"><center>{{ persona.nombre|upper }}</center></td>
						<td width="auto"><center>{{ persona.apellidos|upper }}</center></td>
						<td width="auto"><center>{{ persona.dni }}</center></td>
						<td width="auto"><center>{{ persona.telefono }}</center></td>
						<td width="auto"><center>{{ persona.email }}</center></td>
						<td width="auto"><center>{{ persona.procurador|upper }}</center></td>

					</tr>



					{% endfor %}
					{{ persona.forloop.count }}
					{% else %}
					<h3>Todavía no hay suscriptores</h3>
					{% endif %}
				</tbody>

			</table>
		</div>

    </div>

    <table class="table">
	<thead>
		<tr>
			<td>
                {% if page_obj.has_previous %}
       	         <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
		        {% endif %}
            </td>
			<td>
               		{% if page_obj.has_next %}
     	             <a href="?page={{ page_obj.next_page_number }}">Next</a>
    	            {% endif %}
            </td>
        </tr>
    </thead>
    </table>
</center>
<br>
        </div>
      </div>
    </div>

</main>

</body>


{% endblock %}