<html lang="en">
<head>
    <meta charset="UTF-8">

   <title>PAGINA NO ENCONTRADA</title>

</head>

<body  bgcolor="#333333">
 <center><img src="/media/error-404.png" alt="Smiley face" vertical-align="center" /> </center>


<center>


<br>
<STRONG><UNDERLINE><h3 style="text-shadow: 2px 1px 1px gray;color:#f0f0f0;">LA PAGINA QUE BUSCA NO FUE ENCONTRADA</h3></UNDERLINE></STRONG>
<main role="main"  style="background-color:#333333;">
    <div class="container" style="width:65%;background-color:#ababab;box-shadow: 0 0 10px 5px grey;">

    </div>
</main>


    </center>
</body>
</html>
